<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
=======
@import "./general/base";
@import "./general/variables";
@import "./general/typography.scss";
@import "./components/ui.scss";

@import "./helpers/classes.scss";

>>>>>>> master
